include AUTHORS
include COPYING
include MANIFEST.in
include NEWS
include README
include examples/README
include telepathy-inspect
recursive-include examples *.py
recursive-include spec *.xml
recursive-include tools *.xsl
include src/utils.py
include src/server/channelmanager.py
